
    <div class="banner">
       <div class="hero-text-box">
        <h1>Goodbye junk food, <br> Hello super healthy meals.</h1>
       </div>
    </div>


<div class="containter mt-5 mb-4">
    <h1 class="text-center"> Basic Ingredients</h1>
    <div class="row m-0">
        <div class="col-lg-4">
            <div class="foodbox mt-3 mb-3">
                <img src="assets/images/beef.png"/>
                <h1>Beef</h1>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="foodbox mt-3 mb-3">
                <img src="assets/images/chicken.png"/>
                <h1>Chicken</h1>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="foodbox mt-3 mb-3">
                <img src="assets/images/grass.png"/>
                <h1>Vegetarian</h1>
            </div>
        </div>
    </div>
</div>

<div class="containter mt-5 mb-4">
    <h1 class="text-center">Add ons</h1>
    <div class="row m-0">
        <div class="col-lg-4">
            <div class="foodbox mt-3 mb-3">
                <img src="assets/images/rice.png"/>
                <h1>Rice</h1>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="foodbox mt-3 mb-3">
                <img src="assets/images/tomato.png"/>
                <h1>Tomato</h1>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="foodbox mt-3 mb-3">
                <img src="assets/images/corn.png"/>
                <h1>Corn</h1>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="foodbox mt-3 mb-3">
                <img src="assets/images/onion.png"/>
                <h1>Onions</h1>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="foodbox mt-3 mb-3">
                <img src="assets/images/potato.png"/>
                <h1>Potato</h1>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="foodbox mt-3 mb-3">
                <img src="assets/images/cheese.png"/>
                <h1>Cheese</h1>
            </div>
        </div>
    </div>
</div>