<section style="background-color: #77C66E;">
    <div class="container py-5 h-150">
        <div class="row justify-content-center align-items-center h-150">
          <div class="col-12 col-lg-9 col-xl-7">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
              <div class="card-body p-1 p-md-3">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Register in just a few steps</h3>
                <form [formGroup]="registerForm">
    
                  <div class="row">
                    <div class="col-md-6 mb-4">
    
                      <div class="form-outline">
                        <input type="text" formControlName="Name" class="form-control form-control-lg" />
                        <label class="form-label" for="firstName">First name</label>
                      </div>
    
                    </div>
                    <div class="col-md-6 mb-4">
    
                      <div class="form-outline">
                        <input type="text" formControlName="Lastname" class="form-control form-control-lg"/>
                        <label class="form-label" for="lastName">Last name</label>
                      </div>
    
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-md-6 mb-4 d-flex align-items-center">
    
                      <div class="form-outline datepicker w-100">
                        <input type="date" formControlName="BirthDate" class="form-control form-control-lg" id="birthdayDate"/>
                        <label for="birthdayDate" class="form-label">Date of birth</label>
                      </div>
    
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
    
                        <div class="form-outline">
                            <input type="text" formControlName="Address" class="form-control form-control-lg" />
                            <label class="form-label" for="homeAddress">Address</label>
                        </div>
    
                      </div>
                  </div>
    
                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
    
                        <div class="form-outline">
                            <input type="text" formControlName="Username" class="form-control form-control-lg" />
                            <label class="form-label" for="username">Username</label>
                        </div>
    
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
    
                        <div class="form-outline">
                            <input type="email" formControlName="Email" class="form-control form-control-lg" />
                            <label class="form-label" for="emailAddress">Email</label>
                        </div>
    
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
    
                        <div class="form-outline">
                            <input type="password" formControlName="Password" class="form-control form-control-lg" />
                            <label class="form-label" for="password">Password</label>
                        </div>
    
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
    
                        <div class="form-outline">
                            <input type="password" id="passwordRep" class="form-control form-control-lg" />
                            <label class="form-label" for="passwordRep">Confirm password</label>
                        </div>
    
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-12">
    
                      <select formControlName="Type" class="select form-control-lg">
                        <option value="0" disabled>Choose your role</option>
                        <option value="1">Customer</option>
                        <option value="2">Deliverer</option>
                      </select>
                      <br>
                      <label class="form-label select-label">Choose your role</label>
    
                    </div>
                  </div>
    
                  <div class="mt-4 pt-2">
                    <button class="btn btn-primary btn-lg" (click)="onSubmit()" type="submit" >Register</button>
                  </div>
    
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>